<mat-card>Ingrese datos del Estudiante</mat-card>
<br>
<form class="example-container" [formGroup]="form" #frmPaciente="ngForm" (ngSubmit)="operar()">
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>
    <br>
    <mat-form-field class="example-full-width">        
        <input matInput placeholder="Alias" minlength="3" required formControlName="alias">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Seleccionar fecha" [max]="maxFecha" formControlName="fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/estudiante' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>