<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-form-field>
        <input formControlName="id" matInput placeholder="Input" type="number">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input formControlName="title" matInput placeholder="Input" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input formControlName="price" matInput placeholder="Input" type="number">
    </mat-form-field>
    <p *ngIf="form.get('price').hasError('price_invalid')">Precio no es valido</p>
    <br>
    <mat-form-field>
        <input formControlName="description" matInput placeholder="Input" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input formControlName="image" matInput placeholder="Input" type="text">
    </mat-form-field>
    <br>

    <button mat-raised-button type="submit">GUARDAR</button>
</form>
